@use "colors" as *;
@use "animations" as *;
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
}

h1 {
	font-family: "Pacifico", cursive;
}

h2 {
	font-family: "Pacifico", cursive;
	text-align: center;
	padding: 30px 0;
	color: $dark-pink;
}

.underline {
	margin: 0 auto;
	margin-bottom: 40px;
	width: 200px;
	height: 3px;
	background-color: $dark-pink;
}

nav {
	width: 100%;
	z-index: 1;


	.navbar-brand {
		i {
			color: $light-pink;
		}

		.logo-text {
			font-family: "Pacifico", sans-serif;
			color: white;
		}
	}

	.fa-bars {
		padding: 10px;
		color: white;
	}

	.navbar-nav {
		text-transform: uppercase;

		.nav-link {
			color: white;
		}
		a:hover {
			color: $light-pink;
		}

		.nav-link.active {
			color: $light-pink;
		}
	}
}
header {
	.header-img {
		position: relative;
		height: 100vh;
		background-image: url("../css/img/hero-small.jpg");
		background-size: cover;
		background-attachment: scroll;
		z-index: 0;
		.header-bg {
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
			background-color: rgba(73, 0, 63, 0.6);
			z-index: -10;
		}

		.header-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 0 10px;
			height: 100%;
			z-index: 5;

			i {
				padding: 20px;
				font-size: 90px;
				color: $light-pink;
			}

			h1 {
				color: white;
				font-size: 30px;
			}

			p {
				color: white;
				text-transform: uppercase;
				font-size: 16px;
			}
		}

		.fa-chevron-down {
			position: absolute;
			bottom: 20px;
			left: 50%;
			transform: translateX(-50%);
			color: white;
			font-size: 30px;
		}
	}
}

.aboutus {
	height: 1000px;
	.aboutus_card {
		display: flex;
		img {
			width: 30%;
			height: 30%;
			border-radius: 50%;
		}
	}
}

.pricing {
	height: 1000px;
}

// MEDIA

@media (min-width: 375px) {
	header {
		.header-img {
			.header-text {
				h1 {
					font-size: 36px;
				}
				P {
					font-size: 18px;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	nav {
		.navbar {
			font-size: 25px;
		}
	}

	header {
		.header-img {
			.header-text {
				h1 {
					font-size: 42px;
				}
				P {
					font-size: 20px;
				}
			}
		}
	}
}
@media (min-width: 1024px) {
	header {
		.header-img {
			.header-text {
				i {
					font-size: 100px;
				}
				h1 {
					font-size: 55px;
				}
				P {
					font-size: 25px;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	header {
		.header-img {
			background-image: url("../css/img/hero-big.jpg");
		}
	}
}
